.friendsEnrolled {
  width: 241px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #800080;
  margin-left: 189px;
  margin-top: 60px;
}
.friendsContainer {
  display: flex;
  margin-left: 187px;
  overflow-x: auto;
  width: 1000px;
}
